*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  background-color: white;
}

#links {
  margin: 0 auto;
  padding: 20px 0px 20px;
  width: 100%;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

#logo {
  margin: 0 auto;
  padding: 50px 0;
  width: 40%;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

#text {
  margin: 0 50px;
  padding: 50px 0 50px;
  width: 100%;
  overflow: hidden;
  background-color: white;
  font-size: 1em;
  font-family: trebuchet ms;
  text-align: justify;
  color: black;
}

#date-text {
  width: 100%;
  overflow: hidden;
  background-color: white;
  font-size: 1em;
  font-family: trebuchet ms;
  text-align: center;
  color: black;
}

.venue {
  width: 100%;
  overflow: hidden;
  background-color: white;
  font-size: 0.8em;
  font-family: trebuchet ms;
  text-align: center;
  color: #D10000;
}

#band-photo {
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  display: block;
  width: 90%;
}

#bio-photo {
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  display: block;
  width: 75%;
  text-align: center;
}

.bio-text {
    width: 75%;
    overflow: hidden;
    background-color: white;
    font-size: 0.8em;
    font-family: trebuchet ms;
    text-align: justify;
    color: black;
}

table, th, td {
  table-layout: fixed;
  width: 100%;
  border: 0 none;
  padding: 0 35px;
  text-align: justify;
  font-size: 1em;
}

h1 {
  margin: 0 auto;
  padding: 0px 0px 25px 0;
  font-size: 1.5em;
  font-family: trebuchet ms;
  color: black;
  text-align: center;
}

h2 {
  margin: 0 auto;
  padding: 0px 0px 25px 0;
  font-size: 1.2em;
  font-family: trebuchet ms;
  color: black;
  text-align: center;
}

.make_flex_space_even {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.max-width-size {
  max-width: 1980px;
  margin: auto;
}

header {
  margin-top: 1%;
  margin-bottom: 30px;
}

footer {
  margin-top: 30px;
  margin-bottom: 1%;
}

#video {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  max-height: 100%;
  padding-top: 56.25%;
  display: block;
  width: 90%;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
  }

img {
  border-radius: 20px;
}

.max-text-length {
  max-width: 70ch;
}

p {
  margin-bottom: 0.8em;
}
